.drop-file-input {
  position: relative;
  height: 90px;
  border: 2px dashed #c1c1c1;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-file-input input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.7;
}

.drop-file-input__label {
  text-align: center;
  color: rgba(34, 34, 34, 0.516);
  font-weight: 500;
  line-height: 1.2;
  padding-bottom: 20px;
  padding-top: 15px;
}

.drop-file-input__label img {
  width: 35px;
}

.drop-file-input__label p {
  font-size: 14px;
}

.drop-file-preview {
  margin-top: 10px;
}

.drop-file-preview__item {
  position: relative;
  display: flex;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed #227be9;
}

.drop-file-preview__item img {
  width: 50px;
  margin-right: 20px;
}

.drop-file-preview__item__info {
  font-family: "roboto";
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.drop-file-preview__item__del {
  background-color: #227be9;
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.drop-file-preview__item:hover {
  background-color: #227ce915;
}